<div class="jumbotron mt-4">
  <h1 class="display-4">Organizador para Tareas</h1>
  <p class="lead">ARELY AGUILAR FARIAS, 5° "A", TI ADSM</p>
  <hr class="my-4">
  <p>BASE DE DATOS PARA COMPUTO EN LA NUBE</p> <br>
  <p>Profesor: Valderrabano González Héctor</p> 
  <hr class="my-4">
  <p>Aplicacion con conexion a base de datos Mongodb Atlas, consiste en un organizador de tareas, donde podra loguearse diferentes usuarios</p>
</div>
